// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.game {
  padding: 100px 300px;
}

.letter {
  width: 40px;
  height: 40px;
}
